body {
  background-color: #000000;
}

.App {
  display: grid;
  height: 100%;
  grid-template-columns: 25% 74%;
  grid-gap: 1%;
  padding: 1% 1% 0 1%;
}


/* left-sidebar content section */

.left-sidebar {
  background-color: #232323;
  padding: 20px;
  color: #fff;
  border-radius: 10px 10px 0 0; 
  overflow: hidden;
  max-height: 100vh;
}


.left-sidebar:hover {
  overflow-y: auto; /* Show the scrollbar on hover */
}

.left-sidebar::-webkit-scrollbar {
  width: 12px;
}

.left-sidebar::-webkit-scrollbar-thumb {
  background-color: #6a6a6a;
  
}

.left-sidebar::-webkit-scrollbar-track {
  background-color: #232323;
}

.sidebarheader-content {
  font-size: 100%; 
  font-weight: bold;
  margin-left: 1%; 
  padding: 5% 0;
}


/* section for the recently played album card */

.recently-played-card {
  display: flex;
  align-items: center;
  background-color: #333;
  color: #fff;
  border-radius: 10px;
  margin-bottom: 1%;
  padding: 1%;
}

.recently-played-card img {
  border-radius: 5px;
  margin-right: 5%;
  width: 70px; 
  height: 70px; /* Adjust the height as needed */
  object-fit: cover;
}

.recently-played-card-info {
  flex-grow: 1;
  display: flex; /* Add display flex */
  flex-direction: column; /* Stack children vertically */
  justify-content: center; /* Center children vertically */
}

.album-name {
  font-weight: bold;
  margin: 2%;
}

.artist-name {
  color: #888;
  margin: 2%;
}



/* main content section */

.main-content {
  flex-grow: 1;
  background-color: #232323;
  padding: 2% 2% 0 2%;
  color: #fff;
  border-radius: 10px 10px 0 0; 
}


.header-section {
  margin-bottom: 1%;
  flex-grow: 1;
  display: flex; 
  flex-direction: column; 
  align-items: flex-end;
}


.banner-content {
  font-size: 200%; 
  font-weight: bold;
  margin-left: 1%; 
}

/* section for the artist cards */

.artist-cards {
  display: flex;
}

.artist-card {
  text-align: center;
  padding: 1%;
  background-color: #3c3c3c;
  color: #fff;
  border-radius: 10px;
  margin: 1%;
}

.artist-card img {
  border-radius: 50%;
  width: 100%; 
}

.artist-card p {
  font-weight: bold;
}