/* LogoutButton.css */

.logout-button-container {
    position: absolute;
  }
  
  .user-button {
    background-color: #333;
    color: #fff;
    padding: 8px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    font-size: 18px;
  }
  
  .dropdown {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #333;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 1%;
    z-index: 1;
  }
  
  .user-email {
    font-size: 14px;
    margin: 10px;
  }
  
  button {
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
    display: flex;
    align-items: center;
  }
  
  button:hover {
    color: #ff9900;
  }
  